<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My working page</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/for%20hunter.css">
</head>
<body>
{#    <div class="container">#}
        <div>
        <img class="image" src="https://icdn.lenta.ru/images/2015/11/19/04/20151119043548222/pic_4c469653f9579c187f657b57005a66b8.jpeg" alt="Test"/>
        </div>
        <div>
        <p class="top">www.site.com</p>
        </div>
        <div class="menu">
            <nav>
            <ul>
                <li>Главная</li>
                <li class="red">О компании</li>
                <li>Цены</li>
                <li>Контакты</li>
                <li>Статьи</li>
                <li>Форум</li>
                <li>Новости</li>
            </ul>
            </nav>
        </div>


{#        <div class="flex">#}
{#            <div class="left">#}
{#                <p>left</p>#}
{#            </div>#}
{#            <div class="content">#}
{#                <h1 class="top">О компании</h1>#}
{#                <p class="p_content">#}
{#                    Компания «Светоприбор» была основана в 1928 г. как производитель широкого спектра товаров народного#}
{#                    потребления. Начиная с 1995г. направление деятельности стало узкоспециализированным. На данный момент#}
{#                    компания является производителем высококачественных электроустановочных изделий. Это выключатели,#}
{#                    розетки, удлинители электрические, монтажные коробки. А также новый виток в развитии — это выпуск#}
{#                    электробезопасных и энергосберегающих изделий: выключатели на базе датчика движения, светодиодные#}
{#                    светильники, светодиодные прожекторы, силовые разъемы, изделия с элементами УЗО.#}
{#                </p>#}
{#                <p class="p_content">#}
{#                    Компания осуществляет весь производственный цикл от изготовления оснастки до выпуска готовой продукции.#}
{#                    Стабильное финансовое положение позволяет осуществлять модернизацию и переоснащение производства#}
{#                    высокотехнологичным оборудованием по изготовлению пресс-форм и штампов, закупку литьевых машин и#}
{#                    пресс-автоматов нового поколения.#}
{#                </p>#}
{#                <p class="p_content">#}
{#                    Основным приоритетом деятельности компании является высокое качество производимой продукции отвечающей#}
{#                    всем требованиям.#}
{#                    Коллектив компании «Светоприбор» — команда профессионалов, которая состоит из молодых специалистов#}
{#                    и сотрудников, имеющих опыт работы в разработке и производстве электроустановочных изделий.#}
{#                </p>#}
{#            </div>#}
{#            <div class="left">#}
{#                <p>right</p>#}
{#            </div>#}
{#        </div>#}
{#        <div>#}
{#           <p class="center">#}
{#               www.site.com - продажа всего самого лучшего!#}
{#           </p>#}
{#        </div>#}
{#    </div>#}
</body>
</html>