<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My working page</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
        <div>
            <div class="test">List of users:</div>
            <p><a href="/users/Andrei Brazhelovich">Andrei Brazhelovich</a></p>
            <p><a href="/users/Petya Ppetrov">Petya Ppetrov</a></p>
            <p><a href="/users/Ivan Ivanov">Ivan Ivanov</a></p>
            <p><a href="/users/Nikolay Sidorov">Nikolay Sidorov</a></p>
        </div>
</body>
</html>